<mat-horizontal-stepper linear>
    <mat-step label="Shipping Address" completed="true" >
        <p>Shipping address Detail</p>
    </mat-step>
    <mat-step label="Billing Address"  completed="false" optional>
        <p>Billing Address Detail</p>
        <button mat-button color="primary" matStepperPrevious>Back</button>
        <button mat-button color="primary" matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Place Order" completed="false" >
        <p>
            Order detail
        </p>
    </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper linear>
    <mat-step label="Shipping Address" completed="true" >
        <p>Shipping address Detail</p>
    </mat-step>
    <mat-step label="Billing Address"  completed="false" optional>
        <p>Billing Address Detail</p>
        <button mat-button color="primary" matStepperPrevious>Back</button>
        <button mat-button color="primary" matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Place Order" completed="false" >
        <p>
            Order detail
        </p>
    </mat-step>
</mat-vertical-stepper>

