

    <mat-toolbar color="primary" class="crm-navigation-bar">
        <button mat-raised-button color="primary" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>  
        <div>Nay Nyein Tun</div>
        <div style="align-self:right;">
            <span>Home</span>
            <span>About</span>
            <span>Services</span>
        </div>
        
    </mat-toolbar>

 <mat-sidenav-container  class="list-height"> 
     <mat-sidenav style="margin-top: 70px;" #sidenav mode="side" (opened)="log('opened')"  (closed)="log('closed')" [(opened)] = "opened">
    <div style="align-items: center;">
        <h3 style="text-align: center;">Tutorial List</h3> 
    </div>   
        <hr matLine>
       <mat-nav-list >
        <a mat-list-item color="white" routerLink="">Mat List</a>
        <a mat-list-item routerLink="gridlist">Grid List</a>
        <a mat-list-item routerLink ="expensionpanel">Expension Panel</a>
        <a mat-list-item routerLink ="card">Cards</a>
        <a mat-list-item routerLink="tabs">Tabs</a>
        <a mat-list-item routerLink="stepper">Stepper</a>
        <a mat-list-item routerLink="input-form">Input Form</a>
        <a mat-list-item routerLink="select">Select</a>
        <a mat-list-item routerLink="autocomplete">Auto Complete</a>
        <a mat-list-item routerLink="checkandradio">Check and Radio</a>
        <a mat-list-item routerLink="datepicker">Date Picker</a>
        <a mat-list-item routerLink="tooltip">ToolTip</a>
        <a mat-list-item routerLink="snackbar">Snack Bar</a>
        <a mat-list-item routerLink="dialog"> Dialog </a>
        <a mat-list-item routerLink="datatable">Data Table </a>
    </mat-nav-list>
     </mat-sidenav>
     <mat-sidenav-content  style="margin-top: 70px;" class="mat-body">
        

         <router-outlet></router-outlet>
        
     </mat-sidenav-content>
 </mat-sidenav-container> 

